<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <style>
            table {
              border-collapse: collapse;
            }
            th, td {
              border: 1px solid #ccc;
              padding: 10px;
              text-align: left;
            }
            tr:nth-child(even) {
              background-color: #eee;
            }
            tr:nth-child(odd) {
              background-color: #fff;
            }            
          </style>
    </head>
    <body>
        <table>
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in pilots_ndz %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>